<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" routerLink="/">{{ myConfig.appTitle }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul *ngIf="user" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/fueling">Tankolás</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/vehicles">Járművek</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/driver">Sofőrök</a>
      </li>
    </ul>
    <button *ngIf="user" (click)="onSignOut()"
      class="btn btn-info my-2 my-sm-0" type="button">
        kilépés
      <i class="fa fa-sign-out"></i>
    </button>
  </div>
</nav>
