<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" routerLink="/">{{ myConfig.appTitle }}</a>
  <button class="navbar-toggler" [class.collapsed]="collapsed"
    type="button" data-toggle="collapse"
    data-target="#navbarColor01" aria-controls="navbarColor01"
    [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation"
    (click)="toggleNav()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [class.show]="!collapsed" class="collapse navbar-collapse" id="navbarColor01">
    <ul *ngIf="user" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/"
        (click)="toggleNav()">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/fueling"
        (click)="toggleNav()">Tankolás</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/vehicles"
        (click)="toggleNav()">Járművek</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/driver"
        (click)="toggleNav()">Sofőrök</a>
      </li>
    </ul>
    <button *ngIf="user" (click)="onSignOut()"
      class="btn btn-info my-2 my-sm-0" type="button">
        kilépés
      <i class="fa fa-sign-out"></i>
    </button>
  </div>
</nav>
